<div class="container">

<header>
   <h1 class="title">Angular Router</h1>
</header>
  
<nav>
  <ul>
  <li><a routerLink="/crisis-center" routerLinkActive="active">Crisis Center</a></li>
  <li><a routerLink="/heroes" routerLinkActive="active">Heroes</a></li>
  <li><a routerLink="/admin" routerLinkActive="active">Admin</a></li>
  <li><a routerLink="/login" routerLinkActive="active">Login</a></li>
  </ul>
</nav>

<article>
   <h1 class="title">Content</h1>
  <router-outlet></router-outlet>
</article>

<footer>Copyright © myweb.com</footer>

</div>